* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  font-size: 1.4rem;
}
html {
  font-size: 62.5%; /* PARA QUE -> 1rem = 10px */
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: 1px solid #ddd;
}
/* ///////////////////////// */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 1.6rem;
  width: 100vw;
}
.main-header li {
  font-size: 1.4rem;
}
#header-foto-perfil {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.main-header li {
  cursor: pointer;
}

.main-header svg {
  margin: 0 1rem;
  width: 2rem;
  height: 3rem;
}
.main-header a {
  color: rgb(77, 81, 86);
}
/* ///////////////////////// */
.page-main {
  width: 100%;
}
.page-main section {
  /* background-color: antiquewhite; */
  width: 100%;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  gap: 2.6rem;
  flex-basis: 60rem;
}
.main-input {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: aquamarine; */
  border: 1px solid #ccc;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;

  width: 100%;
  max-width: 60rem;
}
.main-input input {
  height: 3.5rem;
  border: none;
  width: 100%;
  outline: none;
  padding: 0 1rem;
  font-size: 1.6rem;
}
.main-input span {
  /* background-color: darkgoldenrod; */
  width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-input:hover {
  box-shadow: 0px 0px 5px 0px #bbb;
}
.page-main svg {
  /* background-color: aquamarine; */
  width: 2rem;
  height: 3rem;
}

.boton {
  background-color: #eee;
  padding: 0.8rem 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 0.4rem;
  font-size: 1.5rem;
  border: 2px solid rgba(204, 204, 204, 0);
}
.boton:hover {
  border: 2px solid rgb(220, 220, 220);
}
/* ///////////////////////// */
.pag-footer {
  background-color: #eee;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(77, 81, 86);
}
.footer-pais {
  margin: 15px 30px;
}
.main-footer {
  display: flex;
  flex-direction: column;
  margin: auto 1.5rem;
  min-width: 40rem;
}
.main-footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-footer a {
  margin: 1.5rem;
  color: rgb(77, 81, 86);
}
